# Preparation

In [0]:
import pandas as pd
import numpy as np
import tqdm
import datetime

SEED = 215
SECONDS = 946684800

aggs = ['sum', 'mean', 'std', 'min', 'max']
cats = [27, 32, 41, 45, 67, 73, 81, 88]

from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score, roc_auc_score
from catboost import CatBoostClassifier
from lightgbm import LGBMClassifier
from xgboost import XGBClassifier
from sklearn.ensemble import RandomForestClassifier

Распакуйте архив с данными в папку,где находится этот jupyter notebook (final.ipynb).

In [0]:
transactions_train = pd.read_csv('transactions_train.csv')
train_target = pd.read_csv('train_target.csv')
transactions_test = pd.read_csv('transactions_test.csv')
test_id = pd.read_csv('test.csv')

In [0]:
transactions_train.head()

   client_dk  trans_date  amount  small_group
0      43976           0   4.563            2
1       8417           0  48.342            0
2      17309           0  12.320            0
3      33523           0  29.005            6
4      24228           0  10.266            6

* client_dk - уникальный идентификатор клиента
* trans_date - дата совершения транзакции
* amount - сумма транзакции
* small_group - категория покупки

In [0]:
train_target.head(5)

   client_dk  27  32  41  45  67  73  81  88
0      39762   1   0   0   0   0   0   0   0
1      10586   0   0   0   1   0   0   0   0
2      40115   0   1   0   0   0   0   0   0
3      34543   0   0   0   1   0   0   0   0
4       5372   0   0   0   1   0   0   0   0

* client_dk - уникальный идентификатор клиента, соответствует полю client_dk из транзакций
* числовые названия колонок - это 8 категорий продуктов. Их названия (числа) соответствуют значениям в колонке **small_group** из данных по транзакциям. Значения в этих колонках бинарные,т.е. 0 - в исследуемую неделю не было совершено покупки в данной категории, 1 - покупка была совершена. Например, клиент с номером 34110 (первая строчка) купил товар из категории 45, а по остальным категориям покупок не совершал.

# Feature creating

*Перевод trans_date в месяц/год/день_недели, считая от 01.01.2000*

In [0]:
def to_dates(day_):
    
    date = datetime.date.fromtimestamp(SECONDS + day_ * (60 * 60 * 24))
    day = date.day
    weekday = date.weekday()
    month = date.month
    year = date.year

    return [month, year, weekday]

Создание признаков:

* Самые простые аггрегационные признаки по клиенту.
* Для каждого клиента аггрегационные признаки для транзакций по каждой категории.
* Для каждого клиента аггрегационные признаки для транзакций по месяцам, дням недели, годам.
* Для каждого клиента аггрегационные признаки для транзакций по месяцам, дням недели, годам и по категории одновременно.

In [0]:
def create_x(df, target):
    # Получаем аналоги даты в виде месяцев/дней недели/дня месяца/...
    dates_df = pd.DataFrame(df['trans_date'].apply(to_dates).values.tolist())
    dates_df.columns = ['month', 'year', 'weekday']
    df = pd.concat([df, dates_df], axis=1)
    df.drop('trans_date', axis=1, inplace=True)

    # Получаем агреггированные фичи из дат
    for date_name in ['year', 'month', 'weekday']:
        _dates_df = df.groupby(['client_dk', date_name])['amount'].agg(aggs).reset_index()
        res_lst = []
        for agg in aggs:
            _df = _dates_df.pivot(index='client_dk', columns=date_name, values=agg).fillna(0)
            _df.columns = [f'{date_name}_{i}_rur_{agg}' for i in _df.columns]
            res_lst.append(_df)
        weekdays_agg_df = pd.concat(res_lst, axis=1)
        target = pd.merge(target, weekdays_agg_df, on='client_dk')
    
    for date_name in ['year', 'month', 'weekday']:
        rang = {'year': [2000, 2001], 'month': [i for i in range(1, 13)], 'weekday': [0, 1, 2, 3, 4, 5, 6]}
        res_lst = []
        for i in rang[date_name]:
            _df = df[df[date_name] == i].groupby(['client_dk', 'small_group'])['amount'].count().reset_index().pivot('client_dk', 'small_group', 'amount').fillna(0)
            
            add_colms = list(set(_df.columns) ^ set([i for i in range(204)]))
            zeros_df = pd.DataFrame(columns=add_colms, index=_df.index)

            _df = pd.merge(_df, zeros_df, on='client_dk',)
            _df.columns = [f'{date_name}_{i}_group_{j}' for j in _df.columns]
            res_lst.append(_df)

        weekdays_df = pd.concat(res_lst, axis=1)
        target = pd.merge(target, weekdays_df, on='client_dk')

    agg_features = df.groupby('client_dk')['amount'].agg(aggs).reset_index()

    # Получаем количество транзакций для каждой группы покупок
    counts_df = df.groupby(['client_dk','small_group'])['amount'].count()\
                        .reset_index()\
                        .pivot(index='client_dk', columns='small_group',values='amount')
    add_colms = list(set(counts_df.columns) ^ set([i for i in range(204)]))
    zeros_df = pd.DataFrame(columns=add_colms, index=counts_df.index)

    counts_df = pd.merge(
        counts_df,
        zeros_df, 
        on='client_dk',
    )
    counts_df = counts_df.fillna(0)
    counts_df.columns = ['small_group_' + str(i) for i in counts_df.columns]

    agg_cat_features = df\
            .groupby(['client_dk', 'small_group'])['amount']\
            .agg(['sum','mean','std','min','max'])\
            .reset_index()
    for agg in aggs:
        _df = agg_cat_features.pivot(index='client_dk', columns='small_group', values=agg)
        _df = pd.merge(_df, zeros_df, on='client_dk',)
        _df.columns = [f'small_group_rur_{agg}_{i}' for i in _df.columns]
        target = pd.merge(target, _df.fillna(0), on='client_dk')


    agg_cat_features = df\
            .groupby(['client_dk', 'small_group'])['amount']\
            .agg(['sum','mean','std','min','max'])\
            .reset_index()
    for agg in aggs:
        _df = agg_cat_features.pivot(index='client_dk', columns='small_group', values=agg)
        _df = pd.merge(_df, zeros_df, on='client_dk',)
        _df.columns = [f'small_group_rur_{agg}_{i}' for i in _df.columns]
        target = pd.merge(target, _df.fillna(0), on='client_dk')


    target = pd.merge(target, agg_features, on='client_dk')
    target = pd.merge(target, counts_df.reset_index(), on='client_dk')

    return target.fillna(0)

In [0]:
train_data = create_x(transactions_train, train_target)
test_data = create_x(transactions_test, test_id)

In [0]:
train_data.head(1)

   client_dk  27  32  ...  small_group_201  small_group_202  small_group_203
0      39762   1   0  ...                0                0                0

[1 rows x 6647 columns]

In [0]:
test_data.head(1)

   client_dk  year_2000_rur_sum  ...  small_group_202  small_group_203
0      12671          44451.205  ...                0                0

[1 rows x 6639 columns]

# Get useless features

Получаем ненужные признаки, чтобы выкинуть их в дальнейшем из таблицы

In [0]:
y_train = train_data.iloc[:,1:9]
X_train = train_data.drop(train_data.columns[1:9], axis=1)
X_test = test_data

In [0]:
params = {
    'iterations': 100,
    'learning_rate': None,
    'random_seed': SEED,
    'task_type': 'GPU'
}

In [0]:
models = []

for q in y_train.columns:
    print('train product '+str(q))
    
    curr_y_train = y_train.loc[:,q]
    
    modelCB = CatBoostClassifier(**params)
    modelCB.fit(X_train, curr_y_train, verbose=params['iterations'] // 5)

    models.append(modelCB)

train product 27
Learning rate set to 0.222273
0:	learn: 0.5167181	total: 19.9ms	remaining: 1.97s
20:	learn: 0.3033108	total: 393ms	remaining: 1.48s
40:	learn: 0.2929242	total: 729ms	remaining: 1.05s
60:	learn: 0.2856890	total: 1.05s	remaining: 671ms
80:	learn: 0.2791327	total: 1.37s	remaining: 322ms
99:	learn: 0.2737503	total: 1.66s	remaining: 0us
train product 32
Learning rate set to 0.222273
0:	learn: 0.5584013	total: 19.4ms	remaining: 1.92s
20:	learn: 0.3832637	total: 403ms	remaining: 1.52s
40:	learn: 0.3723371	total: 748ms	remaining: 1.08s
60:	learn: 0.3635498	total: 1.08s	remaining: 690ms
80:	learn: 0.3556086	total: 1.4s	remaining: 329ms
99:	learn: 0.3476122	total: 1.72s	remaining: 0us
train product 41
Learning rate set to 0.222273
0:	learn: 0.5296602	total: 19ms	remaining: 1.88s
20:	learn: 0.3232928	total: 389ms	remaining: 1.46s
40:	learn: 0.3154930	total: 714ms	remaining: 1.03s
60:	learn: 0.3082611	total: 1.05s	remaining: 670ms
80:	learn: 0.3012451	total: 1.37s	remaining: 322ms
99:	learn: 0.2934211	total: 1.69s	remaining: 0us
train product 45
Learning rate set to 0.222273
0:	learn: 0.6168466	total: 19.2ms	remaining: 1.9s
20:	learn: 0.4918961	total: 399ms	remaining: 1.5s
40:	learn: 0.4789834	total: 756ms	remaining: 1.09s
60:	learn: 0.4673112	total: 1.1s	remaining: 705ms
80:	learn: 0.4538329	total: 1.47s	remaining: 344ms
99:	learn: 0.4436988	total: 1.8s	remaining: 0us
train product 67
Learning rate set to 0.222273
0:	learn: 0.3631612	total: 16.8ms	remaining: 1.66s
20:	learn: 0.0795624	total: 345ms	remaining: 1.3s
40:	learn: 0.0750551	total: 656ms	remaining: 944ms
60:	learn: 0.0719007	total: 963ms	remaining: 616ms
80:	learn: 0.0691826	total: 1.27s	remaining: 299ms
99:	learn: 0.0660999	total: 1.58s	remaining: 0us
train product 73
Learning rate set to 0.222273
0:	learn: 0.4270707	total: 15.1ms	remaining: 1.49s
20:	learn: 0.1525348	total: 333ms	remaining: 1.25s
40:	learn: 0.1462153	total: 641ms	remaining: 922ms
60:	learn: 0.1414089	total: 948ms	remaining: 606ms
80:	learn: 0.1374044	total: 1.25s	remaining: 295ms
99:	learn: 0.1335910	total: 1.55s	remaining: 0us
train product 81
Learning rate set to 0.222273
0:	learn: 0.2236027	total: 16.6ms	remaining: 1.64s
20:	learn: 0.0132001	total: 353ms	remaining: 1.33s
40:	learn: 0.0105759	total: 676ms	remaining: 973ms
60:	learn: 0.0085769	total: 997ms	remaining: 638ms
80:	learn: 0.0067929	total: 1.31s	remaining: 308ms
99:	learn: 0.0055348	total: 1.61s	remaining: 0us
train product 88
Learning rate set to 0.222273
0:	learn: 0.3618537	total: 15.9ms	remaining: 1.57s
20:	learn: 0.0744801	total: 343ms	remaining: 1.29s
40:	learn: 0.0699970	total: 639ms	remaining: 920ms
60:	learn: 0.0663348	total: 948ms	remaining: 606ms
80:	learn: 0.0627224	total: 1.25s	remaining: 294ms
99:	learn: 0.0592698	total: 1.55s	remaining: 0us

In [0]:
features = []
for i in range(8): 
    featurei = list(zip(models[i].feature_importances_, X_train.columns))
    featurei.sort(key=lambda x: -x[0])
    features.append(featurei)

zeros = [[] for i in range(8)]
for i in range(8):
    for imp, name in features[i]:
        if imp == 0: zeros[i].append(name)

res = set(zeros[0])
for i in range(8):
    res = res & set(zeros[i])

bad = list(res)                                                                 # ненужные признаки

In [0]:
bad

['weekday_5_group_60',
 'small_group_rur_sum_185_x',
 'small_group_rur_max_114_x',
 'small_group_rur_std_35_x',
 'small_group_rur_std_44_x',
 'month_5_group_196',
 'month_10_group_182',
 'month_8_group_182',
 'month_7_group_98',
 'weekday_0_group_195',
 'month_9_group_59',
 'weekday_1_group_197',
 'month_10_group_166',
 'month_7_group_144',
 'small_group_105',
 'small_group_rur_sum_178_y',
 'year_2000_group_79',
 'month_5_group_63',
 'weekday_5_group_58',
 'small_group_rur_sum_100_y',
 'small_group_rur_mean_139_y',
 'month_4_group_166',
 'weekday_1_group_181',
 'small_group_rur_max_195_y',
 'small_group_rur_min_168_x',
 'small_group_rur_sum_79_x',
 'small_group_rur_mean_191_y',
 'month_4_group_152',
 'month_9_group_162',
 'weekday_0_group_132',
 'month_2_group_127',
 'month_8_group_61',
 'weekday_3_group_114',
 'weekday_6_group_43',
 'weekday_0_group_61',
 'small_group_rur_sum_182_y',
 'small_group_rur_std_198_y',
 'weekday_2_group_111',
 'small_group_rur_max_154_x',
 'weekday_1_group_167',
 'weekday_6_group_124',
 'month_6_group_161',
 'month_7_group_24',
 'month_3_group_169',
 'year_2000_group_199',
 'year_2000_group_69',
 'month_8_group_107',
 'month_8_group_130',
 'month_8_group_187',
 'small_group_rur_sum_49_y',
 'month_6_group_39',
 'weekday_4_group_24',
 'month_6_group_165',
 'small_group_rur_min_98_y',
 'weekday_0_group_116',
 'weekday_3_group_131',
 'weekday_0_group_172',
 'small_group_rur_mean_189_x',
 'small_group_rur_mean_200_x',
 'small_group_rur_sum_4_x',
 'weekday_1_group_124',
 'month_7_group_42',
 'weekday_2_group_168',
 'weekday_5_group_182',
 'month_9_group_83',
 'month_6_group_78',
 'small_group_rur_min_193_x',
 'year_2000_group_107',
 'year_2001_group_188',
 'month_2_group_29',
 'small_group_rur_min_110_x',
 'weekday_4_group_71',
 'month_3_group_69',
 'month_11_group_131',
 'small_group_rur_mean_76_y',
 'month_1_group_159',
 'small_group_rur_mean_30_y',
 'small_group_rur_max_93_y',
 'month_11_group_127',
 'small_group_rur_std_199_x',
 'small_group_rur_max_144_y',
 'small_group_rur_sum_94_y',
 'month_4_group_139',
 'year_2000_group_182',
 'month_3_group_159',
 'weekday_6_group_170',
 'weekday_3_group_117',
 'month_10_group_196',
 'month_12_group_179',
 'weekday_3_group_96',
 'weekday_0_group_203',
 'small_group_rur_std_17_y',
 'small_group_rur_min_138_y',
 'month_1_group_135',
 'month_1_group_80',
 'month_3_group_40',
 'month_10_group_85',
 'weekday_2_group_63',
 'month_2_group_201',
 'month_6_group_64',
 'month_11_group_61',
 'month_8_group_140',
 'small_group_rur_std_171_x',
 'weekday_5_group_106',
 'month_1_group_194',
 'year_2001_group_159',
 'month_2_group_147',
 'month_11_group_66',
 'month_8_group_141',
 'weekday_5_group_115',
 'small_group_rur_min_105_y',
 'small_group_rur_min_61_x',
 'month_11_group_143',
 'small_group_30',
 'month_1_group_188',
 'weekday_2_group_75',
 'small_group_rur_std_130_x',
 'month_10_group_115',
 'month_6_group_4',
 'month_7_group_197',
 'small_group_rur_max_164_y',
 'weekday_0_group_125',
 'month_9_group_202',
 'small_group_rur_mean_65_x',
 'weekday_6_group_126',
 'month_5_group_61',
 'weekday_6_group_82',
 'month_4_group_59',
 'month_6_group_170',
 'month_11_group_185',
 'small_group_rur_max_147_x',
 'year_2001_group_135',
 'month_7_group_201',
 'month_3_group_108',
 'weekday_2_group_154',
 'month_3_group_141',
 'small_group_rur_max_101_x',
 'weekday_3_group_4',
 'small_group_rur_min_93_y',
 'weekday_5_group_84',
 'small_group_rur_mean_191_x',
 'small_group_rur_std_139_y',
 'month_11_group_26',
 'small_group_rur_max_119_x',
 'month_1_group_187',
 'month_1_group_126',
 'month_12_group_9',
 'small_group_149',
 'month_7_group_137',
 'month_6_group_25',
 'month_6_group_163',
 'month_11_group_13',
 'weekday_5_group_147',
 'weekday_1_group_174',
 'month_2_group_87',
 'small_group_rur_max_161_y',
 'small_group_rur_mean_107_y',
 'month_4_group_181',
 'small_group_rur_mean_161_y',
 'small_group_rur_sum_17_x',
 'month_5_group_94',
 'small_group_rur_mean_166_x',
 'weekday_4_group_43',
 'weekday_4_group_51',
 'small_group_rur_std_9_x',
 'year_2001_group_190',
 'weekday_6_group_200',
 'small_group_rur_min_119_x',
 'small_group_rur_mean_174_y',
 'month_7_group_133',
 'small_group_rur_std_150_x',
 'weekday_0_group_92',
 'weekday_6_group_47',
 'weekday_6_group_26',
 'small_group_rur_sum_84_y',
 'small_group_199',
 'small_group_rur_max_180_x',
 'month_2_group_159',
 'small_group_rur_sum_125_y',
 'weekday_6_group_178',
 'month_5_group_83',
 'weekday_3_group_156',
 'year_2001_group_200',
 'month_2_group_186',
 'month_1_group_197',
 'weekday_4_group_144',
 'small_group_189',
 'month_7_group_189',
 'month_9_group_184',
 'small_group_rur_mean_32_x',
 'small_group_rur_sum_171_x',
 'weekday_0_group_40',
 'month_10_group_188',
 'small_group_rur_min_19_x',
 'small_group_rur_min_52_x',
 'weekday_3_group_123',
 'month_9_group_194',
 'small_group_rur_mean_68_x',
 'small_group_rur_std_151_x',
 'weekday_0_group_89',
 'small_group_rur_mean_26_y',
 'month_9_group_159',
 'small_group_rur_min_131_x',
 'small_group_rur_sum_103_x',
 'month_9_group_93',
 'month_7_group_135',
 'small_group_rur_min_175_x',
 'month_11_group_108',
 'month_7_group_199',
 'small_group_rur_min_173_y',
 'weekday_4_group_84',
 'weekday_3_group_85',
 'small_group_rur_sum_187_x',
 'month_7_group_156',
 'small_group_rur_sum_148_y',
 'small_group_rur_max_178_x',
 'month_5_group_50',
 'month_11_group_30',
 'small_group_193',
 'month_8_group_51',
 'month_2_group_197',
 'small_group_rur_min_196_x',
 'month_10_group_84',
 'month_10_group_49',
 'year_2000_group_112',
 'weekday_0_group_146',
 'small_group_rur_std_38_y',
 'month_8_group_101',
 'small_group_200',
 'small_group_rur_mean_28_x',
 'small_group_rur_std_78_y',
 'month_5_group_53',
 'small_group_rur_std_187_y',
 'small_group_rur_std_149_x',
 'month_2_group_90',
 'year_2001_group_8',
 'weekday_4_group_178',
 'small_group_rur_min_63_y',
 'year_2000_group_129',
 'weekday_4_group_65',
 'month_4_group_153',
 'small_group_rur_max_116_y',
 'year_2001_group_98',
 'small_group_rur_min_101_y',
 'small_group_rur_min_192_x',
 'month_8_group_192',
 'month_9_group_147',
 'month_10_group_181',
 'small_group_128',
 'weekday_6_group_39',
 'small_group_rur_mean_130_x',
 'month_4_group_136',
 'month_8_group_197',
 'weekday_3_group_99',
 'small_group_78',
 'weekday_1_group_170',
 'small_group_33',
 'year_2000_group_131',
 'small_group_rur_min_102_y',
 'weekday_1_group_185',
 'small_group_rur_std_122_y',
 'weekday_3_group_54',
 'small_group_36',
 'small_group_rur_max_33_x',
 'small_group_rur_max_202_y',
 'small_group_rur_sum_117_y',
 'weekday_0_group_24',
 'month_8_group_198',
 'small_group_rur_sum_170_y',
 'month_7_group_44',
 'month_10_group_99',
 'small_group_rur_max_92_x',
 'weekday_0_group_199',
 'month_7_group_62',
 'small_group_rur_mean_83_x',
 'small_group_rur_min_20_x',
 'month_5_group_128',
 'weekday_3_group_60',
 'small_group_rur_std_176_y',
 'month_5_group_69',
 'weekday_6_group_145',
 'month_11_group_78',
 'month_5_group_23',
 'month_1_group_140',
 'month_1_group_18',
 'small_group_rur_max_58_x',
 'small_group_rur_min_13_x',
 'weekday_0_group_50',
 'small_group_rur_max_79_x',
 'month_5_group_171',
 'month_3_group_87',
 'year_2000_group_95',
 'small_group_rur_std_115_x',
 'month_1_group_164',
 'year_2000_group_173',
 'weekday_4_group_114',
 'small_group_rur_min_171_y',
 'month_7_group_120',
 'weekday_1_group_98',
 'small_group_rur_min_169_x',
 'month_5_group_86',
 'year_2001_group_20',
 'weekday_4_group_201',
 'month_10_group_109',
 'month_12_group_20',
 'month_4_group_122',
 'month_12_group_165',
 'month_1_group_99',
 'month_9_group_58',
 'small_group_rur_min_186_x',
 'small_group_rur_std_145_y',
 'small_group_rur_sum_119_x',
 'year_2001_group_48',
 'small_group_rur_mean_76_x',
 'small_group_rur_max_130_x',
 'small_group_rur_std_132_x',
 'weekday_4_group_182',
 'year_2001_group_33',
 'weekday_1_group_194',
 'small_group_95',
 'small_group_rur_std_110_x',
 'year_2000_group_72',
 'weekday_6_group_197',
 'small_group_rur_sum_162_x',
 'small_group_rur_min_8_x',
 'small_group_rur_sum_143_y',
 'small_group_rur_std_59_x',
 'small_group_rur_mean_188_x',
 'weekday_4_group_16',
 'small_group_rur_min_180_x',
 'small_group_rur_sum_62_y',
 'month_1_group_179',
 'month_1_group_181',
 'small_group_rur_max_167_x',
 'month_9_group_201',
 'weekday_0_group_144',
 'weekday_3_group_20',
 'small_group_rur_sum_85_y',
 'month_12_group_194',
 'weekday_3_group_197',
 'year_2001_group_197',
 'small_group_rur_std_52_y',
 'weekday_4_group_8',
 'month_1_group_127',
 'small_group_184',
 'month_3_group_97',
 'month_8_group_92',
 'month_8_group_116',
 'small_group_rur_mean_88_x',
 'month_1_group_85',
 'month_1_group_146',
 'month_1_group_5',
 'weekday_2_group_123',
 'weekday_6_group_7',
 'small_group_rur_max_192_x',
 'month_12_group_97',
 'small_group_rur_std_110_y',
 'month_5_group_110',
 'small_group_rur_mean_47_y',
 'weekday_0_group_149',
 'small_group_161',
 'weekday_5_group_83',
 'year_2000_group_26',
 'month_3_group_85',
 'month_3_group_114',
 'small_group_rur_mean_26_x',
 'weekday_3_group_102',
 'weekday_2_group_202',
 'weekday_3_group_152',
 'small_group_rur_std_189_x',
 'small_group_rur_max_82_x',
 'month_5_group_67',
 'weekday_1_group_191',
 'weekday_3_group_180',
 'month_12_group_59',
 'small_group_179',
 'small_group_rur_std_14_x',
 'month_10_group_150',
 'small_group_rur_mean_147_x',
 'weekday_6_group_144',
 'month_11_group_200',
 'year_2001_group_74',
 'small_group_rur_min_155_x',
 'month_3_group_79',
 'month_9_group_85',
 'year_2001_group_124',
 'small_group_rur_mean_92_y',
 'small_group_rur_min_158_x',
 'month_1_group_123',
 'weekday_5_group_69',
 'weekday_4_group_109',
 'small_group_rur_sum_82_x',
 'year_2000_group_203',
 'weekday_1_group_193',
 'weekday_2_group_60',
 'month_6_group_201',
 'month_3_group_91',
 'month_6_group_105',
 'small_group_rur_sum_177_y',
 'weekday_1_group_110',
 'small_group_rur_mean_4_x',
 'month_11_group_182',
 'month_4_group_182',
 'month_4_group_63',
 'month_8_group_167',
 'small_group_rur_max_150_y',
 'small_group_rur_mean_103_y',
 'month_8_group_146',
 'weekday_4_group_38',
 'small_group_34',
 'month_1_rur_sum',
 'weekday_3_group_154',
 'month_10_group_203',
 'month_1_group_113',
 'small_group_rur_min_197_x',
 'weekday_6_group_161',
 'month_4_group_66',
 'small_group_rur_max_163_y',
 'month_3_group_171',
 'weekday_4_group_87',
 'month_3_group_110',
 'weekday_5_group_133',
 'small_group_rur_std_144_x',
 'weekday_5_group_110',
 'small_group_rur_std_108_x',
 'month_3_group_181',
 'year_2001_group_147',
 'month_7_group_102',
 'month_8_group_194',
 'small_group_rur_std_68_x',
 'small_group_rur_max_123_x',
 'month_5_group_118',
 'month_4_group_162',
 'small_group_rur_min_136_x',
 'month_12_group_64',
 'month_12_group_203',
 'small_group_76',
 'weekday_4_group_108',
 'month_9_group_145',
 'month_11_group_186',
 'month_6_group_122',
 'small_group_rur_min_173_x',
 'small_group_rur_sum_21_x',
 'small_group_rur_min_97_x',
 'weekday_0_group_130',
 'weekday_2_group_169',
 'small_group_rur_std_179_x',
 'small_group_rur_mean_133_x',
 'small_group_rur_sum_188_x',
 'small_group_rur_std_39_x',
 'weekday_4_group_116',
 'weekday_0_group_42',
 'weekday_6_group_130',
 'small_group_rur_sum_201_x',
 'month_3_group_125',
 'year_2001_group_183',
 'small_group_rur_min_16_y',
 'month_7_group_94',
 'small_group_rur_max_98_y',
 'small_group_rur_max_88_x',
 'small_group_rur_std_203_y',
 'month_10_group_40',
 'small_group_rur_max_149_y',
 'month_6_group_158',
 'year_2000_group_169',
 'month_7_group_119',
 'small_group_96',
 'weekday_6_group_50',
 'month_6_group_181',
 'month_4_group_156',
 'month_12_group_93',
 'month_7_group_129',
 'weekday_1_group_156',
 'month_3_group_52',
 'year_2000_group_192',
 'small_group_rur_max_186_x',
 'month_3_group_186',
 'weekday_4_group_23',
 'small_group_rur_mean_202_x',
 'small_group_rur_sum_57_y',
 'weekday_2_group_87',
 'small_group_138',
 'weekday_5_group_175',
 'small_group_rur_min_183_y',
 'month_3_group_145',
 'month_11_group_91',
 'month_8_group_139',
 'month_3_group_118',
 'small_group_rur_min_14_x',
 'month_6_group_162',
 'year_2000_group_78',
 'small_group_rur_sum_114_y',
 'weekday_5_group_64',
 'small_group_rur_std_203_x',
 'weekday_2_group_136',
 'small_group_rur_std_117_x',
 'weekday_1_group_0',
 'small_group_rur_std_192_x',
 'month_5_group_104',
 'month_8_group_106',
 'small_group_rur_max_7_x',
 'small_group_rur_min_194_y',
 'weekday_3_group_13',
 'small_group_rur_mean_140_x',
 'month_4_group_56',
 'month_6_group_129',
 'small_group_rur_max_107_x',
 'month_12_group_62',
 'small_group_rur_mean_74_y',
 'month_8_group_20',
 'weekday_0_group_109',
 'small_group_rur_max_182_x',
 'small_group_rur_sum_147_x',
 'small_group_rur_mean_98_x',
 'small_group_rur_std_101_y',
 'weekday_5_group_10',
 'small_group_74',
 'weekday_1_group_200',
 'small_group_rur_max_203_x',
 'weekday_3_group_59',
 'small_group_rur_std_29_x',
 'month_5_group_158',
 'month_12_group_107',
 'year_2001_group_151',
 'small_group_rur_std_22_y',
 'weekday_2_group_47',
 'month_4_group_39',
 'small_group_rur_min_170_x',
 'month_2_group_177',
 'small_group_71',
 'small_group_rur_max_62_y',
 'small_group_rur_mean_131_y',
 'small_group_rur_max_172_y',
 'month_12_group_105',
 'weekday_4_group_199',
 'weekday_0_group_193',
 'small_group_164',
 'month_7_group_30',
 'small_group_rur_std_63_x',
 'small_group_153',
 'month_11_group_190',
 'small_group_80',
 'month_11_group_179',
 'month_3_group_84',
 'month_8_group_166',
 'month_9_group_198',
 'month_11_group_87',
 'month_9_group_160',
 'weekday_0_group_192',
 'month_10_group_186',
 'small_group_165',
 'weekday_1_group_39',
 'month_8_group_38',
 'small_group_rur_min_156_x',
 'month_7_group_85',
 'small_group_rur_max_136_x',
 'small_group_rur_sum_87_y',
 'small_group_rur_sum_148_x',
 'small_group_rur_min_30_y',
 'month_12_group_30',
 'month_11_group_144',
 'small_group_rur_sum_40_y',
 'weekday_1_group_141',
 'small_group_rur_max_166_y',
 'month_2_group_51',
 'weekday_1_group_166',
 'month_10_group_33',
 'small_group_rur_sum_164_y',
 'month_10_group_157',
 'month_10_group_42',
 'month_1_group_141',
 'weekday_4_group_46',
 'month_11_group_174',
 'year_2001_group_51',
 'weekday_6_group_111',
 'small_group_rur_mean_39_x',
 'month_11_group_139',
 'month_10_group_187',
 'month_6_group_159',
 'month_1_group_128',
 'month_11_group_132',
 'small_group_rur_max_195_x',
 'month_9_group_199',
 'small_group_rur_min_185_x',
 'month_2_group_175',
 'small_group_rur_max_71_x',
 'small_group_rur_std_113_y',
 'month_12_group_176',
 'weekday_5_group_19',
 'small_group_rur_min_172_y',
 'small_group_rur_max_97_x',
 'month_3_group_94',
 'small_group_rur_mean_142_y',
 'weekday_1_group_113',
 'small_group_15',
 'small_group_rur_sum_2_y',
 'small_group_rur_mean_169_y',
 'month_4_group_149',
 'small_group_rur_sum_78_x',
 'weekday_2_group_91',
 'small_group_rur_std_4_y',
 'month_3_group_163',
 'small_group_rur_std_91_x',
 'month_5_group_111',
 'weekday_1_group_186',
 'weekday_4_group_135',
 'month_2_group_167',
 'small_group_186',
 'month_9_group_100',
 'small_group_rur_min_190_x',
 'weekday_2_group_179',
 'small_group_rur_min_48_x',
 'small_group_rur_max_151_x',
 'weekday_2_group_85',
 'weekday_0_group_137',
 'month_3_group_139',
 'month_8_group_154',
 'month_9_group_151',
 'small_group_rur_max_36_y',
 'weekday_5_group_186',
 'year_2000_group_84',
 'month_4_group_170',
 'month_3_group_116',
 'year_2000_group_137',
 'month_10_group_118',
 'small_group_rur_mean_197_x',
 'month_5_group_16',
 'small_group_rur_sum_129_x',
 'month_12_group_196',
 'weekday_1_group_75',
 'month_5_group_186',
 'weekday_5_group_142',
 'weekday_0_group_69',
 'weekday_2_group_7',
 'month_11_group_68',
 'small_group_rur_std_151_y',
 'weekday_3_group_44',
 'weekday_5_group_53',
 'weekday_6_group_173',
 'weekday_1_group_44',
 'weekday_3_group_70',
 'year_2001_group_10',
 'month_10_group_77',
 'year_2001_group_131',
 'month_2_group_192',
 'month_10_group_183',
 'small_group_13',
 'weekday_2_group_172',
 'month_7_group_56',
 'weekday_4_group_202',
 'weekday_0_group_19',
 'weekday_6_group_65',
 'small_group_rur_std_119_x',
 'year_2000_group_188',
 'small_group_rur_std_40_x',
 'month_2_group_181',
 'small_group_rur_min_24_x',
 'month_2_group_34',
 'small_group_rur_sum_135_x',
 'weekday_0_group_14',
 'weekday_1_group_140',
 'weekday_5_group_158',
 'weekday_1_group_100',
 'small_group_rur_sum_46_y',
 'year_2000_group_90',
 'weekday_1_group_123',
 'weekday_1_group_47',
 'small_group_rur_mean_192_x',
 'month_8_group_159',
 'month_3_group_167',
 'small_group_rur_mean_9_y',
 'month_10_group_141',
 'small_group_rur_sum_153_y',
 'small_group_rur_max_145_y',
 'weekday_3_group_155',
 'weekday_1_group_164',
 'month_9_group_132',
 'month_5_group_183',
 'month_1_group_183',
 'month_6_group_160',
 'month_1_group_151',
 'month_5_group_150',
 'small_group_150',
 'small_group_rur_max_27_y',
 'small_group_rur_sum_162_y',
 'small_group_rur_sum_113_y',
 'weekday_3_group_111',
 'weekday_0_group_177',
 'month_8_group_25',
 'month_1_group_111',
 'month_7_group_170',
 'month_1_group_175',
 'small_group_rur_min_75_x',
 'month_5_group_3',
 'weekday_0_group_173',
 'month_4_group_100',
 'small_group_rur_max_187_y',
 'weekday_0_group_129',
 'month_3_group_188',
 'month_7_group_116',
 'small_group_rur_max_188_y',
 'small_group_rur_std_184_y',
 'weekday_2_group_35',
 'small_group_rur_sum_141_x',
 'small_group_rur_sum_151_x',
 'weekday_5_group_88',
 'small_group_101',
 'weekday_6_group_113',
 'small_group_rur_max_77_y',
 'month_5_group_19',
 'month_6_group_123',
 'month_1_group_203',
 'small_group_rur_sum_62_x',
 'weekday_3_group_57',
 'weekday_4_group_173',
 'small_group_rur_mean_2_y',
 'weekday_5_group_95',
 'year_2001_group_128',
 'year_2000_group_161',
 'month_7_group_185',
 'small_group_rur_mean_112_y',
 'month_6_group_88',
 'month_7_group_136',
 'small_group_rur_max_123_y',
 'month_7_group_165',
 'weekday_6_group_99',
 'small_group_91',
 'small_group_rur_std_163_y',
 'month_5_group_202',
 'month_3_group_74',
 'small_group_rur_min_137_x',
 'month_1_group_48',
 'year_2001_group_38',
 'month_11_group_52',
 'weekday_3_group_118',
 'weekday_2_group_9',
 'month_3_group_107',
 'small_group_rur_min_113_y',
 'month_3_group_47',
 'month_8_group_102',
 'month_11_group_155',
 'small_group_rur_std_102_x',
 'year_2001_group_16',
 'month_9_group_42',
 'month_8_group_115',
 'small_group_rur_mean_33_x',
 'month_8_group_39',
 'weekday_2_group_66',
 'small_group_rur_std_13_y',
 'small_group_rur_max_90_y',
 'small_group_rur_sum_36_x',
 'weekday_3_group_15',
 'month_1_group_201',
 'small_group_rur_mean_24_y',
 'month_11_group_118',
 'month_2_group_190',
 'month_9_group_84',
 'small_group_rur_mean_110_x',
 'month_4_group_189',
 'month_8_group_111',
 'small_group_rur_std_117_y',
 'month_12_group_63',
 'weekday_1_group_72',
 'small_group_rur_mean_163_x',
 'small_group_182',
 'small_group_rur_std_119_y',
 'month_6_group_176',
 'month_7_group_15',
 'small_group_143',
 'month_9_group_96',
 'month_3_group_61',
 'month_10_group_134',
 'small_group_rur_mean_82_y',
 'month_6_group_43',
 'year_2001_group_94',
 'weekday_2_group_18',
 'small_group_rur_sum_136_y',
 'weekday_0_group_151',
 'small_group_rur_mean_54_x',
 'small_group_rur_min_105_x',
 'month_2_group_138',
 'weekday_2_group_105',
 'year_2000_group_65',
 'small_group_rur_min_2_y',
 'weekday_2_group_69',
 'month_3_group_92',
 'weekday_2_group_189',
 'small_group_rur_max_197_x',
 'month_12_group_187',
 'month_1_group_44',
 'month_2_group_40',
 'month_3_group_162',
 'small_group_rur_std_38_x',
 'month_4_group_178',
 'small_group_37',
 'month_12_group_185',
 'month_1_group_177',
 'small_group_rur_std_177_x',
 'small_group_rur_max_137_x',
 'small_group_rur_mean_79_y',
 'small_group_rur_std_202_y',
 'weekday_1_group_119',
 'weekday_5_group_105',
 'month_1_group_172',
 'weekday_0_group_87',
 'month_2_group_111',
 'weekday_5_group_50',
 'month_10_group_156',
 'month_2_group_31',
 'small_group_rur_sum_95_x',

# Models

### Preparation

*P.s Для примера прогнал на 100 итерациях представленных ниже моделей, чтобы не ждать долго. На финале гнал на 2000 итерациях.*

In [0]:
y_train = train_data.iloc[:,1:9]
X_train = train_data.drop(train_data.columns[1:9], axis=1).drop(bad, axis=1).sort_index(axis=1)
X_test = test_data.drop(bad, axis=1).sort_index(axis=1)

X_train, X_val, y_train, y_val = train_test_split(X_train, y_train, test_size=0.2, random_state=SEED)

In [0]:
def validation(models, name):
    results_tree = []
    for i, q in enumerate(y_val.columns):
        pred = models[i].predict_proba(X_val)[:,1]
        results_tree.append(pred)

    pred = np.array(results_tree)
    
    print(f'{name}:', end=' ')
    print(roc_auc_score(y_val, pred.T))

In [0]:
def get_predict(models):
    results_tree = []
    for i, q in enumerate(y_val.columns):
        pred = models[i].predict_proba(X_test)[:,1]
        results_tree.append(pred)

    pred = np.array(results_tree).T
    return pred

In [0]:
def save_model(pred, name):
    columns = ['cat_27','cat_32','cat_41','cat_45','cat_67','cat_73','cat_81','cat_88']
    submission = pd.DataFrame({columns[i]: pred[:, i] for i in range(8)}, index=test_id.client_dk)
    
    submission_path = '/content/drive/My Drive/submissions/{}.csv'.format(name)
    print(submission_path)
    submission.to_csv(submission_path, index=True)

### Catboost

In [0]:
params = {
    #'iterations': 2000,                                                        # Финальный параметр
    'iterations': 100,                                                          # Параметр для примера
    'learning_rate': None,
    'random_seed': SEED,
    'task_type': 'GPU'
}

In [0]:
models = []

for q in y_train.columns:
    print('train product '+str(q))

    curr_y_train = y_train.loc[:,q]
    model = CatBoostClassifier(**params)
    model.fit(X_train, curr_y_train, verbose=params['iterations'] // 5)
    models.append(model)

train product 27
Learning rate set to 0.225018
0:	learn: 0.5178318	total: 11.5ms	remaining: 1.14s
20:	learn: 0.3017063	total: 236ms	remaining: 889ms
40:	learn: 0.2926915	total: 444ms	remaining: 639ms
60:	learn: 0.2834031	total: 655ms	remaining: 419ms
80:	learn: 0.2743549	total: 863ms	remaining: 203ms
99:	learn: 0.2664608	total: 1.06s	remaining: 0us
train product 32
Learning rate set to 0.225018
0:	learn: 0.5585010	total: 11.8ms	remaining: 1.17s
20:	learn: 0.3774479	total: 238ms	remaining: 894ms
40:	learn: 0.3652849	total: 450ms	remaining: 648ms
60:	learn: 0.3549623	total: 662ms	remaining: 423ms
80:	learn: 0.3426693	total: 881ms	remaining: 207ms
99:	learn: 0.3329253	total: 1.08s	remaining: 0us
train product 41
Learning rate set to 0.225018
0:	learn: 0.5344269	total: 11.4ms	remaining: 1.13s
20:	learn: 0.3207018	total: 236ms	remaining: 886ms
40:	learn: 0.3105072	total: 457ms	remaining: 657ms
60:	learn: 0.3012770	total: 681ms	remaining: 435ms
80:	learn: 0.2904024	total: 901ms	remaining: 211ms
99:	learn: 0.2828320	total: 1.11s	remaining: 0us
train product 45
Learning rate set to 0.225018
0:	learn: 0.6159593	total: 12.4ms	remaining: 1.23s
20:	learn: 0.4864592	total: 252ms	remaining: 948ms
40:	learn: 0.4705432	total: 488ms	remaining: 702ms
60:	learn: 0.4542171	total: 723ms	remaining: 462ms
80:	learn: 0.4396646	total: 962ms	remaining: 226ms
99:	learn: 0.4274634	total: 1.18s	remaining: 0us
train product 67
Learning rate set to 0.225018
0:	learn: 0.3574394	total: 11.3ms	remaining: 1.12s
20:	learn: 0.0773414	total: 227ms	remaining: 853ms
40:	learn: 0.0731457	total: 422ms	remaining: 607ms
60:	learn: 0.0686424	total: 620ms	remaining: 397ms
80:	learn: 0.0644351	total: 811ms	remaining: 190ms
99:	learn: 0.0608898	total: 997ms	remaining: 0us
train product 73
Learning rate set to 0.225018
0:	learn: 0.4159934	total: 11.9ms	remaining: 1.18s
20:	learn: 0.1498656	total: 219ms	remaining: 825ms
40:	learn: 0.1439703	total: 415ms	remaining: 597ms
60:	learn: 0.1380295	total: 613ms	remaining: 392ms
80:	learn: 0.1330179	total: 819ms	remaining: 192ms
99:	learn: 0.1283361	total: 1.02s	remaining: 0us
train product 81
Learning rate set to 0.225018
0:	learn: 0.2075812	total: 10.1ms	remaining: 997ms
20:	learn: 0.0132160	total: 232ms	remaining: 871ms
40:	learn: 0.0103592	total: 435ms	remaining: 627ms
60:	learn: 0.0081788	total: 649ms	remaining: 415ms
80:	learn: 0.0068197	total: 865ms	remaining: 203ms
99:	learn: 0.0054432	total: 1.06s	remaining: 0us
train product 88
Learning rate set to 0.225018
0:	learn: 0.3557554	total: 10.5ms	remaining: 1.04s
20:	learn: 0.0716557	total: 211ms	remaining: 792ms
40:	learn: 0.0662936	total: 408ms	remaining: 588ms
60:	learn: 0.0624599	total: 613ms	remaining: 392ms
80:	learn: 0.0584177	total: 819ms	remaining: 192ms
99:	learn: 0.0544245	total: 999ms	remaining: 0us

In [0]:
validation(models, "Catboost")

Catboost: 0.8290712713196606

In [0]:
pred = get_predict(models)

In [0]:
save_model(pred, "ctb")

/content/drive/My Drive/submissions/ctb.csv

Сохранение

### XGBoost

In [0]:
params = {
    #'n_estimators': 2000,                                                      # Финальный параметр
    'n_estimators': 100,                                                        # Параметр для примера
    'tree_method':       'gpu_hist',
    'predictor':         'gpu_predictor',
    'learning_rate':     0.015364,
    'random_state':      SEED,
    'max_depth':         8
}

In [0]:
models = []

for q in y_train.columns:
    print('train product '+str(q))

    curr_y_train = y_train.loc[:,q]
    model = XGBClassifier(**params)
    model.fit(X_train, curr_y_train)
    models.append(model)

train product 27
train product 32
train product 41
train product 45
train product 67
train product 73
train product 81
train product 88

In [0]:
validation(models, "XGBoost")

XGBoost: 0.8249632183018184

In [0]:
pred = get_predict(models)

In [0]:
save_model(pred, "xgb")

/content/drive/My Drive/submissions/xgb.csv

### LightGBM

In [0]:
par = {
    #'n_estimators': 2000,                                                      # Финальный параметр
    'n_estimators': 100,                                                        # Параметр для примера
    'boosting_type':     'dart',
    'learning_rate':     0.013215,
    'random_state':      SEED,
    'max_depth':         8,
    'min_data':          10,
    'num_leaves':        10
}

In [0]:
models = []

for q in y_train.columns:
    print('train product '+str(q))

    curr_y_train = y_train.loc[:,q]
    model = LGBMClassifier(**par)
    model.fit(X_train, curr_y_train)
    models.append(model)

train product 27
train product 32
train product 41
train product 45
train product 67
train product 73
train product 81
train product 88

In [0]:
validation(models, "LGBM")

LGBM: 0.8202114156077541

In [0]:
pred = get_predict(models)

In [0]:
save_model(pred, "lgb")

/content/drive/My Drive/submissions/lgb.csv

### RandomForest

In [0]:
par = {
    #'n_estimators': 2000,                                                      # Финальный параметр
    'n_estimators': 100,                                                        # Параметр для примера
    "max_depth": 10, 
    'min_samples_leaf': 20,
    'random_state': SEED,
}

In [0]:
models = []

for q in y_train.columns:
    print('train product '+str(q))

    curr_y_train = y_train.loc[:,q]
    model = RandomForestClassifier(**par)
    model.fit(X_train, curr_y_train)
    models.append(model)

train product 27
train product 32
train product 41
train product 45
train product 67
train product 73
train product 81
train product 88

In [0]:
validation(models, "RandomForest")

RandomForest: 0.8281471814519752

In [0]:
pred = get_predict(models)

In [0]:
save_model(pred, "rndf")

/content/drive/My Drive/submissions/rndf.csv

# Merge

Взятие средней всех моделей

In [0]:
df1 = pd.read_csv('ctb.csv').iloc[:, 1:].to_numpy()
df2 = pd.read_csv('xgb.csv').iloc[:, 1:].to_numpy()
df3 = pd.read_csv('lgb.csv').iloc[:, 1:].to_numpy()
df4 = pd.read_csv('rndf.csv').iloc[:, 1:].to_numpy()

pred = (df1 + df2 + df3 + df4) / 4

In [0]:
save_model(pred, "final")